<!-- Main Page User Interface -->

      <!-- Movement List Containter -->
        <!-- add later -->
      <!-- <div id ="topBar">
        <p>filter</p>
    </div> -->

    <!-- <div class = "movementContainer" *ngFor="let user of users | async"> -->
    <!-- Movement containter is the center element of the page, a container which the function is only display the information stored on the movements array of the logged user -->
    <div class = "movementContainer" >
        <table class="movement-list">
          <thead class = "listHeader">
            <tr  colspan="4">Movements List</tr>
            <tr>
              <td class = "opNumber">#</td>
              <td class = "opType">Movement</td>
              <td class = "opDate">Date</td>
              <td class = "opAmount"> Amount</td>
            </tr>
          </thead>
          <tbody>
            <!-- Run the movements list of the logged user and presents the movements from that account -->
            <tr *ngFor="let movement of loggedInUser?.userMovs">
              <td class="opNumber">{{ movement.movNumber }}</td>
              <td class="opType">{{ movement.movType }}</td>
              <td class="opDate">{{ movement.movDate | date:'dd/MM/yyyy' }}</td>
              <td class="opAmount">{{ movement.movAmount | currency:'EUR' }}</td>
            </tr>

          </tbody>
        </table>
    </div>
    
    <!-- User Data containter is the left element of the page, a container which the function is display user informations (name and accont balance -->
    <!-- an also perform operations - deposit and withdraw money -->
    <div class = "userDataContainer">
        <img src="../assets/logos/userAvatar.jpg" class = "userIcon">
        
        <!-- Apresenta o nome do utilizador que tem a sessão ativa -->

        <a class="userName">{{ loggedInUser?.name | uppercase}}</a>
        
        
        <ul class = "userOptions">
          <button (click)="deposit()">Deposit</button>
          <br>
          <br>
          <button  (click)="withdraw()">Withdraw</button>
        </ul>

        <div class = "Balance">
            <p> Balance </p>
            <!-- <p> 5 €</p> -->
            <p> {{loggedInUser?.userBalance | currency:'EUR' }}</p>
        </div>
    </div>
