<div class = "entryContainer" id = "entryContainer">
    <!-- Log In Form -->
    <div class = "formContainer logInCointainer">
        <form [formGroup]="loginForm" (ngSubmit)="logIn()">
            <h2>Log In</h2>
            <label for="login-name">User ID:</label>
            <input type="text" id="login-name" formControlName="name" placeholder="User ID" required>
            <br>
            <br>
            <label for="login-password">Password:</label>
            <input type="password" id="login-password" formControlName="password" placeholder="Password" required>
            <br>
            <button type="submit">Log In</button>
        </form>
    </div>
    <!-- Sign Up Form -->
    <div class="formContainer signUpCointainer">
        <form (ngSubmit)="signUp()" [formGroup]="signupForm">
          <h2>Create Account</h2>
          <label for="signup-name">User ID:</label>
          <input type="text" id="signup-name" formControlName="name" placeholder="Name" required>
          <br><br>
          <label for="signup-password">Password:</label>
          <input type="password" id="signup-password" formControlName="password" placeholder="Password" required>
          <br>
          <button type="submit">Sign Up</button>
        </form>
      </div>

</div>
